html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*,*:after,*:before{
	box-sizing: border-box;
}
@font-face {
    font-family: 'swis-font';
    src: url('../../fonts/swis721/Swiss721BT-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Perisphere';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/perisphere/Perisphere.woff2') format('woff2');
}
:root{
	--color-white: #fff;
	--color-black: #000;
	--color-destaque: #DAC88C;
	--font-family: 'swis-font';
	--font-family-perisphere: 'Perisphere';
}
body {
	line-height: 1.3;
	background: var(--color-white);
	color: #5B360D;
	font-family: var(--font-family-perisphere);
	font-size: 17px;
	letter-spacing: 3px;
}
a{
	color: #5B360D;
	font-family: var(--font-family-perisphere);
	font-size: 23px;
	line-height: 1.3;
	text-decoration: none;
}	
}
ol, ul {
	list-style: none;
}
ul, li {
	list-style:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container
{
	width: 100%;
	max-width: 1410px;
	padding: 0px 25px;
	display: block;
	margin: 0 auto;
}
.titulo
{
	font-size: 40px;
	font-family: var(--font-family-perisphere);
	position: relative;
	margin-bottom: 40px;
	letter-spacing: 5px;
}
.titulo:after
{
	width: 100%;
	max-width: 100px;
	height: 2px;
	background-color: var(--color-destaque);
	content: ' ';
	position: absolute;
	left: 0;
	bottom: -10px;
}
.titulo.center
{
	text-align: center;
	width: max-content;
	max-width: 100%;
	display: block;
	margin: 0 auto 40px;
	letter-spacing: 5px;
}
.titulo.center:after
{
	display: block;
	margin: 0 auto;
	right: 0;
}
.descricao
{
	width: 100%;
	display: block;
	margin-bottom: 25px;
}
.descricao p
{
	margin-bottom: 35px;
}
.descricao p:last-child
{
	margin-bottom: 0px;
}

.descricao.center
{
	text-align: center;
}
 .btn
{
	width: max-content;
	max-width: 100%;
	text-align: center;
	padding: 12px 28px;
	border: 3px solid var(--color-destaque);
	border-radius: 50px;
	text-transform: uppercase;
	font-family: var(--font-family-perisphere);
	display: block;
	margin: 0 auto;
	transition: .4s;
}
.btn:hover
{
	transform: scale(1.1);
	background-color: var(--color-destaque);
	-webkit-box-shadow: 0px 10px 22px 0px rgba(91,54,13,1);
	-moz-box-shadow: 0px 10px 22px 0px rgba(91,54,13,1);
	box-shadow: 0px 10px 22px 0px rgba(91,54,13,1);
	border: 3px solid rgba(91,54,13,1);
}
@media only screen and (min-width: 1024px)
{
	.titulo{
		font-size: 55px;
	}
}
