.fale-conosco
{
	width: 100%;
	display: block;
	padding: 80px 0px;
	border-top: 40px solid transparent;
    border-image: url('../../imagens/pintura.png') 25 round;
}
.fale-conosco .conteudo
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.fale-conosco .conteudo .form,
.fale-conosco .conteudo .contatos,
.fale-conosco .conteudo	.mapa
{
	width: 100%;
	display: block;
}
.fale-conosco .conteudo .form form .newsletter{
	width: max-content;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 15px;
}
.fale-conosco .conteudo .form form .newsletter label{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	margin-right: 15px;
	font-family: var(--font-family);
}
.fale-conosco .conteudo .form form .newsletter label input{
	width: 15px;
 	height: 15px;
 	margin: 0 3px 0 0;
}
.fale-conosco .conteudo .form
{
	padding: 25px 25px 0px 25px;
	background-color: rgba(167, 243, 78, 0.4);
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	-moz-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
}
.fale-conosco .conteudo .form form
{
	display: flex;
}

@media only screen and (min-width: 768px)
{
	.fale-conosco .conteudo .form form .campo.nome,
	.fale-conosco .conteudo .form form .campo.telefone,
	.fale-conosco .conteudo .form form .campo.email,
	.fale-conosco .conteudo .form form .campo.assunto
	{
		width: 49%;
	}
}
.btn{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.loading h3 {
  color: transparent;
}

.btn.loading .loader {
  display: flex;
  z-index: 2;
}

.btn h3 {
  color: #5B360D;
  font-size: 20px;
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top: 5px solid #5B360D;
  animation: spin 1s infinite linear;
  position: absolute;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}