.fale-conosco
{
	width: 100%;
	display: block;
	padding: 80px 0px;
	border-top: 50px solid transparent;
    border-image: url('../../imagens/pintura.png') 25 round;
}
.fale-conosco .conteudo
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.fale-conosco .conteudo .form,
.fale-conosco .conteudo .contatos,
.fale-conosco .conteudo	.mapa
{
	width: 100%;
	display: block;
}
.fale-conosco .conteudo .mapa
{
	margin-top: 40px;
}
.fale-conosco .conteudo .mapa iframe
{
	width: 100%;
	display: block;
	height: 470px;
	padding-top: 30px;
}
.fale-conosco .conteudo .form
{
	padding: 25px 25px 0px 25px;
	background-color: rgba(167, 243, 78, 0.4);
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	-moz-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
}
.fale-conosco .conteudo .form form
{
	display: flex;
}
@media only screen and (min-width: 768px)
{
	.fale-conosco .conteudo .form form .campo.nome,
	.fale-conosco .conteudo .form form .campo.telefone,
	.fale-conosco .conteudo .form form .campo.email,
	.fale-conosco .conteudo .form form .campo.assunto
	{
		width: 49%;
	}
}



