.fotos
{
	width: 100%;
	display: block;
	padding: 40px 0px 80px 0px;
	background-image: url('../../imagens/flores.jpg');
	background-position: right;
	background-size: cover;
	border-top: 50px solid transparent;
    border-image: url('../../imagens/pintura.png') 25 round;
}
.fotos .container
{
	max-width: 1490px;
}
.fotos .conteudo .itens
{
	width: 100%;
	max-height: 400px;
}
.fotos .conteudo .itens .item
{
    width: 100%;
  	display: block;
  }
.fotos .conteudo .itens .item a
{
	width: 100%;
	display: block;
	padding: 20px;
}
.fotos .conteudo .itens .item a .img{
	padding: 0px 40px;
}
.fotos .conteudo .itens .item a .img img
{
	width: 100%;
  	display: block;
  	border-radius: 10px;
  	border: 3px solid #5B360D;
  	aspect-ratio: 1;
  	object-fit: cover;
  	-webkit-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	-moz-box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
	box-shadow: 0px 0px 11px 9px rgba(91,54,13,1);
}