.mensagem-recebida{
	width: 100%;
	display: block;
	padding: 120px 0px;
	border-top: 40px solid transparent;
    border-image: url('../../imagens/pintura.png') 25 round;
}
.mensagem-recebida .conteudo{
	width: 100%;
	display: block;
}
.mensagem-recebida .conteudo h1{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 38px;
	font-family: var(--font-family);
  	font-style: normal;
  	font-weight: 700;
  	margin-bottom: 25px;
}
.mensagem-recebida .conteudo p{
	font-style: 18px;
	text-align:	center;
	width: 100%;
	max-width: 500px;
	display: block;
	margin: 0 auto 40px;
}
.mensagem-recebida .conteudo .btn{
	display: block;
	margin: 0 auto;
}
.mensagem-recebida .conteudo a{
	color: var(--color-black);
}