.quem_somos
{
	padding: 40px 0 80px 0;
	display: block;
	background-image: url('../../imagens/flores.jpg');
	background-position: center;
	background-size: cover;
	border-top: 50px solid transparent;
    border-image: url('../../imagens/pintura.png') 25 round;
}
.quem_somos .conteudo
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.quem_somos .conteudo .texto
{
	width: 100%;
	display: inline-block;
	margin-bottom: 45px;
}
.quem_somos .conteudo .texto .btn
	{
		color: #805931;
	}
.quem_somos .conteudo .texto .titulo
{
	margin-bottom: 55px;
}
.quem_somos .conteudo .texto .descricao
{
	margin-bottom: 55px;
}
.quem_somos .conteudo .video
{
	width: 100%%;
	display: inline-block;

}
.quem_somos .conteudo .video a
{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 40px;
	align-items: center;
	height: auto;
	overflow: hidden;
}
.quem_somos .conteudo .video a img
{
	width: 100%;
  	display: block;
  	border-radius: 20px;
  	transition: .4s;
  	-webkit-box-shadow: 0px 0px 21px 12px rgba(91,54,13,1);
	-moz-box-shadow: 0px 0px 21px 12px rgba(91,54,13,1);
	box-shadow: 0px 0px 21px 12px rgba(91,54,13,1);
	border: 2px solid #5B360D;
}
.quem_somos .conteudo .video a p
{
	position: absolute;
  	left: 0;
 	padding: 50px 70px 50px 25px;
  	background-color: #D1D1D1;
  	color: #805931;
  	font-family: var(--font-family-perisphere);
  	max-width: calc(50% + 12px);
  	text-transform: uppercase;
  	font-size: 15px;
}
.quem_somos .conteudo .video a i
{
	padding: 30px;
	font-size: 25px;
	color: #fff;
	background-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: .4s;
	border: 2px solid  rgba(91,54,13,1);
}
.quem_somos .conteudo .video a:hover i{
	color: rgba(255, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0px 0px 20px 5px  #fff;
	-moz-box-shadow: 0px 0px 20px 5px  #fff;
	box-shadow: 0px 0px 20px 5px  #fff;
	transform: scale(1.1);
	border: 2px solid  #fff;
}
@media only screen and (min-width: 768px){
	.quem_somos .conteudo .video a i{
		font-size: 40px;
		width: 100px;
		height: 100px;
	}
}
@media only screen and (min-width: 1160px)
{
	.quem_somos
	{
		padding: 60px 0;
	}

	.quem_somos .conteudo .texto
	{
		width: 47%;
		margin-bottom: 0px;
	}
	.quem_somos .conteudo .texto .btn
	{
		margin: 0px;
	}

	.quem_somos .conteudo .video
	{
		width: 52%;
	}
	.quem_somos .conteudo .video a
	{
		height: 100%;
	}
	.quem_somos .conteudo .video a img
	{
		width: auto;
	  	min-height: 85%;
	  	min-width: 85%;
	  	max-width: 850%;
	  	max-height: 85%;
	 	object-fit: cover;
		position: relative;
	}
}
