.videos
{
	width: 100%;
	display: block;
	padding: 50px 0px;
	background-image: url('../../imagens/flores.jpg');
	background-position: right;
	background-size: cover;
}
.videos .container
{
	max-width: 1490px;
}
.videos .conteudo .texto .descicao
{
	max-width: 690px;
	display: block;
	margin: 0 auto 25px;
}
.videos .conteudo .itens
{
	width: 100%;
}
.videos .conteudo .itens .item
{
	width: 100%;
	display: inline-block;

}
.videos .conteudo .itens .item a
{
	width: 100%;
	display: block;
}
.videos .conteudo .itens .item a .img,
.videos .conteudo .itens .item a .img img
{
	width: 100%;
	display: block;
	border-radius: 15px;
	border: 2px solid var(--color-black);
}
.videos .conteudo .itens .item a .informacoes
{
	background-color: #000;
	padding: 20px;
	margin: -40px 20px 0px;
	width: calc(100% - 40px);
	position: relative;
	z-index: 1;
	border-radius: 15px;
	transition: .4s;
}
.videos .conteudo .itens .item a .informacoes .titulo
{
	font-size: 25px;
	font-family: var(--font-family-perisphere);
	margin-bottom: 25px;
}
.videos .conteudo .itens .item a .informacoes .titulo:after
{
	background-color: var(--color-destaque);

	bottom: -5px;
}
.videos .conteudo .itens .item a .informacoes .descricao
{
	margin-bottom: 25px;
	font-family: var(--font-family-perisphere);
}
.videos .conteudo .itens .item a .informacoes .btn
{
	font-size: 30px;
	color: #805931;
	text-decoration: underline;
	font-family: var(--font-family-perisphere);
	padding: 0px;
	background-color: transparent;
	margin: 0;
	border: 0px;
	text-transform: initial;
}
.videos .conteudo .itens .item a:hover .informacoes .btn{
	color: var(--color-destaque);
}
.videos .conteudo .itens .item a:hover .informacoes{
	transform: scale(1.1);
}
@media only screen and (min-width: 768px)
{
	.videos .conteudo .itens .item
	{
		padding: 0px 40px;
	}	
}